<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-question"></i> About
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">

	<p><b>Flimma</b> is a federated version of state-of-the art differential expression analysis method <a href="https://bioconductor.org/packages/release/bioc/html/limma.html"><i><b>limma</b></i></a>.</p> 
	<p><b>Flimma</b> is based on <a href="https://github.com/TUM-AIMED/hyfed"><b>HyFed</b></a> framework. </p>

          <h3>Citation</h3>
          <p>
            If you use <b>Flimma</b> in your study, please cite it as follows:
          </p>

          <pre>{{"@misc{zolotarevaflimma2020,"}}
{{"    title={<i>Flimma</i>: a federated and privacy-preserving tool for differential gene expression analysis},"}}
{{"    author={Olga Zolotareva and Reza Nasirigerdeh and Julian Matschinske and Reihaneh Torkzadehmahani and Mohammad Bakhtiari and Tobias Frisch and Julian Späth and David B. Blumenthal and Amir Abbasinejad and Paolo Tieri and Nina K. Wenke and Markus List and Jan Baumbach},"}}
{{"    year={2020},"}}
{{"    eprint={2010.16403},"}}
{{"    primaryClass={q-bio.QM},"}}
<! -- {{"    doi = {},"}} -->
{{"    archivePrefix={arXiv}"}}
{{"}"}}</pre>
          Preprint: <a href="https://arxiv.org/abs/2010.16403">https://arxiv.org/abs/2010.16403</a>

            <h3>Contact</h3>
          <p>
            For more software tools please visit out lab page at <a href="https://www.cosy.bio/"><b>cosy.bio</b></a>.
          </p>

          In case of questions or problems please contact us:
          <ul>

              <li><a href="mailto:zolotareva@wzw.tum.de">Olga Zolotareva</a></li>
            <li><a href="mailto:gerdeh@wzw.tum.de">Reza Nasirigerdeh</a></li>
            <li><a href="mailto:&#106;&#117;&#108;&#105;&#097;&#110;&#046;&#109;&#097;&#116;&#115;&#099;&#104;&#105;&#110;&#115;&#107;&#101;&#064;&#119;&#122;&#119;&#046;&#116;&#117;&#109;&#046;&#100;&#101;">Julian Matschinske</a></li>
            <li>Jan Baumbach</li>
          </ul>


          <h3>Funding</h3>
          <p>
              This project has received funding from the European Union’s Horizon 2020 research and innovation programme
              under grant agreement No 826078. This reflects only the view of the authors and the European Commission is not
              responsible for any use that may be made of the information it contains.
            <br>
            <img src="assets/logos/fc_logo.svg.png" style="height: 50px" alt="FeatureCloud" />
          </p>

        </div>
      </div>
    </div>
  </section>
</div>

